.tabs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  height: 97vh;
  width: 100vw;
}
  
.admin-panel,
.user-panel{
  background-color: #f2f2f2;
  

}
.user-panel.active{
  background-color: #f2f2f2;
}


.tabs {
  display: flex;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}

.button {
  margin: 0 10px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #B99470;
}

.active {
  background-color: #B99470;
  color: black;
}
.pasive {
  background-color: #fffbf6;
  color: black;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.inputData {
  background-color: #FEFAE0;
  color: #B99470;
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.card-button {
  padding: 10px;
  background-color: #B99470;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.card-button:hover {
  background-color: #B99470;
}

.drop-down {
  background-color: #FEFAE0;
  color: #B99470;
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.card {
  display: inline-block;
  width: calc(33.33% -20px);
  margin: 0 10px 10px 0;
  box-sizing: border-box;
  border: 1px solid #A9B388;
  background-color: #FEFAE0;
  color: #B99470;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.card-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.card-content {
  margin-bottom: 5px;
}
.header {
  color: #B99470;
  font-family: monospace;
  text-align: center;
}
